@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next { height: 100%; }

:root {
  --bg: #0f172a;
  --muted: #94a3b8;
}

.dark { --bg: #0b1220; }

body { background: var(--bg); color: white; }
